@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
}

html {
	box-sizing: border-box; 
}

*, 
*::before, 
*::after {
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100% 
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Стили для шапки*/

.main-header {
	background-color: #f7e296;
}

.header-logo {
	font-family: "Gilroy";
	color: #000000;
	font-size: 48px;
	font-weight: 800;
	line-height: 48px;
	text-transform: uppercase;
}
	
.header-logo:hover {	
	color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
	color: rgba(0, 0, 0, 0.3);
}

/*Поиск в шапке сайта*/

.header-search {
	background-color: transparent;
	outline: 0;
	border: 0;
}

.header-search:focus {
	border-bottom: 2px solid #000000;
}

.header-search::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:focus::-webkit-input-placeholder {
	color: #000000;
}

.header-search:focus:-ms-input-placeholder {
	color: #000000;
}

.header-search:focus::-ms-input-placeholder {
	color: #000000;
}

.header-search:focus::placeholder {
	color: #000000;
}

.button-search {
	font-family: "Open Sans", Arial, sans-serif;
	color: #000000;
	font-size: inherit;
	font-weight: 300;
	line-height: inherit;

	background-color: transparent;
	border: 2px solid black;
}

.button-search:hover,
.button-search:focus {
	color: #ffffff;

	background-color: #000000;
}

.button-search:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #000000;
}

.main-header ul{
	list-style-type: none;
	padding-left: 0;
}

.link {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: inherit;
	font-weight: 300;
	line-height: inherit;
	color: #000000;
}


.link:hover,
.link:focus {
	color: rgba(0, 0, 0, 0.6);
}

.link:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item a{
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.site-navigation-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.inner-menu a{
	font-family: "Open Sans", Arial, sans-serif;
	font-size: inherit;
  	line-height: 36px;
  	font-weight: 300;
  	color: #000000;
}
