@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: local("Gilroy Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
}

html {
	box-sizing: border-box; 
}

*, 
*::before, 
*::after {
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;

	
}

a {
	text-decoration: none;
}

img {
	max-width: 100% 
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Стили для шапки*/

.main-header {
	background-color: #f7e296;
}

.main-header a {
	color: #000000;
}

.main-header a:hover,
.main-header a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
	color: rgba(0, 0, 0, 0.3);
}

.logo {
	font-family: "Gilroy";
	font-size: 48px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*Поиск в шапке сайта*/

.header-search {
	background-color: transparent;
	outline: 0;
	border: 0;
	border-bottom: 2px solid transperent;
}

.header-search:focus {
	border-bottom: 2px solid #000000;
}

.header-search::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:focus::-webkit-input-placeholder {
	color: #000000;
}

.header-search:focus:-ms-input-placeholder {
	color: #000000;
}

.header-search:focus::-ms-input-placeholder {
	color: #000000;
}

.header-search:focus::placeholder {
	color: #000000;
}

.button-search {
	color: #000000;
	font-weight: 300;
	line-height: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.button-search:hover,
.button-search:focus {
	color: #ffffff;

	background-color: #000000;
}

.button-search:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #000000;
}

.main-header ul,
.footer-main ul {
	list-style-type: none;
	padding-left: 0;
}

.site-navigation-item > a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 3.5px;
	text-transform: uppercase;
}

.inner-menu a {
	line-height: 36px;
}


/*Разметка основного контента */

.title-main {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 1px;
}

.trans-company-list {
	list-style-type: none;
	padding-left: 0;
}

.trans-company {
	color: inherit;
}

.button {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 3.5px;
	text-transform: uppercase;
	background: none;
	border: 0;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Стилизация футера */

.footer-main {
	background: #464646;
}

.footer-logo {
	color: #ffc600;
	letter-spacing: 1px;
}

.footer-logo:hover,
.footer-logo:focus {
	color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
	color: rgba(255, 198, 0, 0.3);
}

/*Навигация user в футере*/
.footer-link {
	color: rgba(255, 255,255, 0.7);
}

.footer-link:hover,
.footer-link:focus {
	color: #ffffff;
}

.footer-link:active {
	color: rgba(255, 255,255, 0.3);
}

/*Навигация в футере*/
.footer-navigation a {
	color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

/*Логотип академии в футере*/
.company-create:hover,
.company-create:focus {
	opacity: 0.6;
}

.company-create:active {
	opacity: 0.3;
}

/*Тtлефон и адрес в футере*/
.contacts {
	color: #ffffff;
}


/*Соц кнопки в футере*/
.social-button {
	display: inline-block;
	height: 32px;
	opacity: 0.3;
	vertical-align: top;
	width: 32px;
}

.social-button:hover,
.social-button:focus {
	opacity: 0.6;
}

.social-button:active {
	opacity: 0.1;
}

.social-button-facebook {
	background: url("../img/facebook.svg") 0 0 no-repeat;
}

.social-button-instagram {
	background: url("../img/instagram.svg") 0 0 no-repeat;
}

.social-button-twitter {
	background: url("../img/twitter.svg") 0 0 no-repeat;
}

/*Кнопка закрытия модального окна*/
.modal-close {
	display: inline-block;
	height: 55px;
	width: 55px;
	vertical-align: top;
	opacity: 0.5;
	background: none;
	border: 0;

	background: url("../img/modal-close.svg") 0 0 no-repeat;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
	outline: 0;
}

.modal-close:active {
	opacity: 0.3;
}

/*Стили для модального окна формы*/
.feedback {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 800;

}

.feedback-input {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	

	background: rgba(229, 229, 229, 0.5);
	border: 3px solid transparent;

	padding: 22px;
}

.feedback-input:hover {
	background: rgba(229, 229, 229, 0.8);
}

.feedback-input:focus {
	outline:0;
	background: #ffffff;
	border: 3px solid rgba(240, 197, 46, 0.5);
}

.feedback-input:invalid {
	background: rgba(237,181, 181, 0.5);
	border: 3px solid transperent;
}

.feedback-input::-webkit-input-placeholder {
	font-weight: 400;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-input:-ms-input-placeholder {
	font-weight: 400;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-input::-ms-input-placeholder {
	font-weight: 400;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-input::placeholder {
	font-weight: 400;
	color: rgba(70, 70, 70, 0.4);
}

/*Стилизация каталога*/

.page-title {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 0.5px;
}

.breadcrumbs {
	list-style-type: none;
	padding-left: 0;
}
.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color:rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color:rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color:rgba(0, 0, 0, 0.1);	
}

.filters fieldset {
	border: none;
}

.filter-legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 0.1px;

	border-top: 2px solid #000000;

	display: inline-block;
	vertical-align: top;
	min-width: 201px;

}

.filter-list {
	list-style-type: none;
	padding-left: 0;
}

.filter-option {
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.1px;
	color: #000000;

}

.catalog-list {
	list-style-type: none;
	padding-left: 0;
}

.catalog-item-title {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 0.1px;
}

.catalog-item-title a {
	color: inherit;
}

.catalog-price {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.1px;
}

.button-compare {
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: rgba(0, 0, 0, 0.5);
}

.button-compare:hover,
.button-compare:focus {
	color: #000000;
}

.button-compare:active {
	color: rgba(0, 0, 0, 0.2);
}