@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
}

html {
	box-sizing: border-box; 
}

*, 
*::before, 
*::after {
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;

	
}

a {
	text-decoration: none;
}

img {
	max-width: 100% 
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Стили для шапки*/

.main-header {
	background-color: #f7e296;
}

.main-header a {
	color: #000000;
}

.main-header a:hover,
.main-hrader a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
	color: rgba(0, 0, 0, 0.3);
}

.logo {
	font-family: "Gilroy";
	font-size: 48px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*Поиск в шапке сайта*/

.header-search {
	background-color: transparent;
	outline: 0;
	border: 0;
}

.header-search:focus {
	border-bottom: 2px solid #000000;
}

.header-search::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.header-search:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.header-search:focus::-webkit-input-placeholder {
	color: #000000;
}

.header-search:focus:-ms-input-placeholder {
	color: #000000;
}

.header-search:focus::-ms-input-placeholder {
	color: #000000;
}

.header-search:focus::placeholder {
	color: #000000;
}

.button-search {
	color: #000000;
	font-weight: 300;
	line-height: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.button-search:hover,
.button-search:focus {
	color: #ffffff;

	background-color: #000000;
}

.button-search:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #000000;
}

.main-header ul,
.footer-main ul {
	list-style-type: none;
	padding-left: 0;
}

.link {
	color: #000000;
}

.site-navigation-item > a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.inner-menu a {
	line-height: 36px;
}


/*Разметка основного контента */

.title-main {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.trans-company {
	list-style-type: none;
	color: inherit;
}

.link-main {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 2px;
	text-transform: uppercase;

	background-color: #e0cd88;
	background-position: 5px 5px;
}

/* Стилизация футера */

.footer-main {
	background: #464646;
}

.footer-logo {
	color: #ffc600;
	letter-spacing: 1px;
}

.footer-logo:hover,
.footer-logo:focus {
	color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
	color: rgba(255, 198, 0, 0.3);
}

/*Навигация user в футере*/
.footer-link {
	color: rgba(255, 255,255, 0.7);
}

.footer-link:hover,
.footer-link:focus {
	color: #ffffff;
}

.footer-link:active {
	color: rgba(255, 255,255, 0.3);
}

/*Навигация в футере*/
.footer-navigation a{
	color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

/*Логотип академии в футере*/
.company-create:hover,
.company-create:focus {
	opacity: 0.6;
}

.company-create:active {
	opacity: 0.3;
}

/*Тtлефон и адрес в футере*/
.contacts {
	color: #ffffff;
}


/*Соц кнопки в футере*/
.social-button {
	opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
	opacity: 0.6;
}

.social-button:active {
	opacity: 0.1;
}

/*Кнопка закрытия модального окна*/
.modal-close {
	opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
	outline: 0;
}

.modal-close:active {
	opacity: 0.3;
	outline: 0;
}

/*Стили для модального окна формы*/
.feedback {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 800;

}

.feedback-input::-webkit-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
	background: rgba(242, 242, 242, 0.5);
}

.feedback-input:-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
	background: rgba(242, 242, 242, 0.5);
}

.feedback-input::-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
	background: rgba(242, 242, 242, 0.5);
}

.feedback-input::placeholder {
	color: rgba(70, 70, 70, 0.4);
	background: rgba(242, 242, 242, 0.5);
}

.feedback-input:hover::-webkit-input-placeholder {
	background: rgba(234, 234, 234, 0.8);
}

.feedback-input:hover:-ms-input-placeholder {
	background: rgba(234, 234, 234, 0.8);
}

.feedback-input:hover::-ms-input-placeholder {
	background: rgba(234, 234, 234, 0.8);
}

.feedback-input:hover::placeholder {
	background: rgba(234, 234, 234, 0.8);
}

.feedback-input:focus::-webkit-input-placeholder {
	background: rgba(234, 234, 234, 0.5);
}

.feedback-input:focus:-ms-input-placeholder {
	background: rgba(234, 234, 234, 0.5);
}

.feedback-input:focus::-ms-input-placeholder {
	background: rgba(234, 234, 234, 0.5);
}

.feedback-input:focus::placeholder {
	background: rgba(234, 234, 234, 0.5);
}




















/*Кнопка закрытия модальныйх окон*/
.modal-close {
	background: none;
	border: 0;
	opacity: 0.5;
}

.modal-close